.header
  background-color #367421

.header-container
  padding 14px 25px 39px 35px
  .app-title
    width 198px
    height 37px
    font-family Avenir-Roman
    font-size 48px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing normal
    color #cbd8d1
  .logout-link
    cursor pointer
    font-size 24px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing normal
    color #cbd8d1