.header
  background-color #367421

.header-container
  padding-left 35px
  padding-top 14px
  padding-bottom 39px
  .app-title
    width 198px
    height 37px
    font-family Avenir-Roman
    font-size 48px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing normal
    color #cbd8d1
    