
<div class="row">
  <div class="col-md-12">
    <ul class="pagination-sm pagination pull-right">
      <li ng-class="{disabled: page == 1}"><a ng-click="queryPage('prev')">Previous</a></li>
      <li ng-repeat="n in [] | range:pageCount" ng-class="{active:  n == page}"><a ng-bind="n" ng-click="queryPage(n)"></a></li>
      <li ng-if="pageCount &gt;= 10"><span>....</span></li>
      <li ng-if="pageCount &gt;= 10"><a ng-bind="originalCount" ng-click="queryPage(originalCount)"></a></li>
      <li ng-class="{disabled: page == pageCount}"><a ng-click="queryPage('next')">Next</a></li>
    </ul>
  </div>
</div>