.box
  display flex
  align-items center
  justify-content center

.inner-container
  max-width 50%
  text-align center
  
  .img-container
    margin-top 16px
    width 220px
    height 226px
    display block
    margin-left 30px
    img
      width 100%
      height 100%
      opacity 0.5

  .header-label
    padding-top 46px
    font-family AvenirNext
    font-size 48px
    color #0c0c0c

  .form-control
    margin-top 16px
    width 300px
    height 50px
    opacity 0.5
    border-radius 10px
    background-color #ffffff
    color #080808
  
  .signup-link
    margin-top 16px
    font-family AvenirNext
    font-size 24px
    color #080808
    .link
      cursor pointer
      color #080808
      &:hover
        color #367421
  
.btn
  border 0px
  border-radius 0px
  padding 7px 15px
  font-size 14px
  font-weight 200
  line-height 1.42857143
  text-align center
  white-space nowrap
  vertical-align middle
  font-weight 200

.btn-block
  width 100%

.btn-default
  width 97%
  color #f1f5ef
  background-color #3c7229
  &:hover, &:focus, &:active
    color #f1f5ef
    background-color mix(white, #3c7229, 15%)
    cursor pointer
  &.no-hover
    &:hover, &:focus, &:active
      color #f1f5ef
      background-color #3c7229
  
  