
<div class="box">
  <div class="inner-container">
    <div class="header-label"><span>Login</span></div>
    <div class="img-container"><img src="/vendor/images/logo.png"></div>
    <form name="loginForm">
      <div class="form-horizontal">
        <div class="form-group">
          <input type="email" name="email" ng-model="creds.email" placeholder="Email" required ng-enter="login(loginForm)" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" ng-model="creds.password" placeholder="Password" required ng-enter="login(loginForm)" class="form-control">
        </div>
        <div class="form-group"><a ng-show="!uiState.loading" ng-click="login(loginForm)" class="btn btn-block btn-default">Login</a>
          <spinner ng-show="uiState.loading"></spinner>
        </div>
      </div>
    </form>
  </div>
</div>