.settings-container
  padding 0px 28px
  .title-label
    padding-top 32px
    padding-left 63px
    .title-text
      font-family AvenirNext
      font-size 36px
      font-weight normal
      font-style normal
      font-stretch normal
      line-height normal
      letter-spacing normal
      text-align left
      color #e9efe8
  
  .img-container
    margin 25px 95px
    width 191px
    height 214px
    img
      width 100%
      height 100%
  
  .account-info
    background-color #e1e1e1
    height 500px
    padding 25px
    
    .profile-edit
      padding-right 9px
  
  .messaging-container
    background-color #00a651
    height 250px
    .title-label
      padding 25px
      .title-text
        font-family AvenirNext
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height normal
        letter-spacing normal
        text-align left
        color #e9efe8
    .messaging-form
      padding-top 61px
      padding 0 28px
      .form-control
        height 110px
        background-color #7cc576
        resize none
    .btn-send
      padding 12px 27px 0px 0px
      
  .integration-container
    background-color #82ca9c
    height 250px
    .title-label
      padding 25px
      padding-bottom 15px
      .title-text
        font-family AvenirNext
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height normal
        letter-spacing normal
        text-align left
        color #e9efe8
    .integration-list
      img
        width 100%
        height 100%
      .img-container-n24
        padding-left 27px
        margin-bottom 3px
        width 128px
        height 38px
      .img-container-pivotal
        padding-left 25px
        margin-bottom 3px
        width 142px
        height 19px
      .img-container-slack
        padding-left 25px
        margin-bottom 3px
        width 100px
        height 44px
      .img-container-skype
        padding-left 26px
        margin-bottom 3px
        width 98px
        height 38px
        
        
      
.no-padding
  padding 0

.mtop-25
  margin-top 25px