.settings-container

  .title-label
    span.title-text Account Settings

  .row
    .col-md-4.no-padding.mtop-25
      .account-info
        .img-container
          img(src="/vendor/images/logo.png")

        .pull-right.profile-edit
          span Edit Profile

        .user-info
          span.email(ng-bind="user.email")
        .user-info
          span.email Token: {{user.access_token}}

    .col-md-8.no-padding
      .row.mtop-25
        .col-md-12
          .messaging-container
            .title-label
              span.title-text Global Messaging

            form.messaging-form(name="messageForm")
              textarea.form-control(name="message" ng-model="message.content" placeholder="Write a message..." required=true)

            .pull-right
              .btn-send
                a.btn.btn-default(ng-click="send_message()" ng-disabled="messageForm.message.$error.required") Send
        
        .col-md-12
          .integration-container
            .title-label
              span.title-text Integrations

            .integration-list
              .img-container-n24
                a(ng-click="toggle('n24',true)")
                  img(src="/vendor/images/n24-logo.png")
              .img-container-pivotal
                img(src="/vendor/images/ptracker-logo.svg")
              .img-container-slack
                img(src="/vendor/images/slack-logo.png")
              .img-container-skype
                img(src="/vendor/images/skype-logo.png")
integrate-modal(ng-show="modalShow" integration-type="type" show="modalShow" toggle="toggle(type,show)" submit="integrate(obj)")