.settings-container

  .title-label
    span.title-text Account Settings

  .row
    .col-md-4.no-padding.mtop-25
      .account-info
        .img-container
          img(src="/vendor/images/logo.png")

        .pull-right.profile-edit
          span Edit Profile

        .user-info
          span.email(ng-bind="user.email")
        .user-info
          span.email Token: {{user.access_token}}

    .col-md-8.no-padding
      .row.mtop-25
        .col-md-12
          .messaging-container
            .title-label
              span.title-text Global Messaging

            form.messaging-form(name="messageForm" novalidate="true" autocomplete="off")
              textarea.form-control(name="message" ng-model="message.content" placeholder="Write a message..." required=true)

            .pull-right
              .btn-send
                a.btn.btn-default(ng-click="send_message()" ng-disabled="messageForm.message.$error.required") Send
        
        .col-md-12
          .integration-container
            .title-label
              span.title-text Integrations

            .col-md-3.integration-list
              .row
                img.img-container-n24(src="/vendor/images/n24-logo.png")
              .row
                img.img-container-pivotal(src="/vendor/images/ptracker-logo.svg")
              .row
                img.img-container-slack(src="/vendor/images/slack-logo.png")
              .row
                img.img-container-skype(src="/vendor/images/skype-logo.png")

            .col-md-3
              .row
                .img-text
                  a(ng-click="toggle('n24',true)" ng-show="!user.n24_integrated") Connect
                  span(ng-show="user.n24_integrated") Connected
              .row
                .img-text
                  span (Soon)
              .row
                .img-text
                  span (Soon)
              .row
                .img-text
                  span (Soon)
integrate-modal(ng-show="modalShow" integration-type="type" show="modalShow" toggle="toggle(type,show)" submit="integrate(obj)")