
<div class="sidebar-panel">
  <div class="brand"><img src="/vendor/images/logo.png" class="logo"></div>
  <div class="nav-profile dropdown"><a ng-click="openDropdown()" class="dropdown-toggle">
      <div class="user-image"><img alt="user" src="/vendor/images/ninja.png" title="user" class="avatar img-circle"></div>
      <div class="user-info expanding-hidden">Admin<small ng-bind="user.role" class="bold"></small></div></a>
    <div ng-if="uiState.showDropdown" class="dropdown-menu"><a href="#" class="dropdown-item"> Settings</a>
      <div class="dropdown-divider"></div><a ng-click="logout()" class="dropdown-item"> Logout</a>
    </div>
  </div>
  <nav>
    <p class="nav-title">MENU</p>
    <ul class="nav">
      <li><a href="/admin/dashboard"><i class="material-icons text-primary">dashboard</i><span>Dashboard</span></a></li>
      <li><a href="/admin/schools"><i class="material-icons text-success">assignment</i><span>Schools</span></a></li>
      <li><a href="/admin/programs"><i class="material-icons text-success">folder</i><span>Programs</span><span>Schools</span></a></li>
      <li><a href="/admin/users"><i class="material-icons text-success">folder</i><span>Users</span></a></li>
    </ul>
  </nav>
</div>